
.header{
  min-height: 70vh;
  width: 100%;
  margin: 0px;
}
body{
  background-image:url("assets/images/background3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  font-family: 'oswald', sans-serif;
  
}

li, a, button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px ;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 4%;

}
.corner{
  float: left;
  margin-top: 1px;
  padding-top: .1em;
  padding-right: 1em;
}
.nav_links{
  list-style: none;
  
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;

}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color: rgb(134, 134, 167);
}
button{
  padding: 9px 25px;
  background-color: rgb(77, 77, 109);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 10px;
}
button:hover{
  background-color: rgb(162, 162, 162);
}

.boo{
  background-color: rgba(0,0,0,0.5);
  align-items: center;
}

nav{
  display: flex;
  padding: 5em 15%;
  justify-content: space-between;
  line-height: 75px;
  
}
nav img{
  width: 150px;

}
.nav-links {
  flex: 2;
}

.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 20px;
position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li a:hover{
 color: rgb(156, 156, 156);
}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

<!---->

.text-box h1 {
  font-size: 62px;
  font-family: 'League Script', cursive;
}
.text-box {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  font-size: 13px;
  background: transparent;
  position: relative;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: red;
  transition: 1s;
}

.info{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.456);
}
h1{
  font-weight: 600;
  font-size: 36px;
}
p{
  color: black;
  font-size: 17px;
  font-weight: 300;
  line-height: 23px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  background: lightgray;
  border-radius: 7px;
  margin-bottom: 5%;
  padding: 16px 10px;
  box-sizing: border-box;
  flex-basis: 30%;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
/*=============
Info pg--hrs--many.. be organized!!!
=============*/
.row2{
  margin-top: 5%;
  display: flex;
}
.course-col2{
  background: rgba(160, 145, 145, 0.775);
  border-radius: 7px;
  margin-bottom: 15%;
  margin-left: 15%;

  flex-basis: 30%;
}

.info2{
  width: 90%;
  box-shadow: 0 10px 20px rgba(8, 8, 8, 0.784);
  border-radius: 10%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(216, 213, 213, 0.758);
}

/*=============
Transform-- attempts-6?? hrs-several???
=============*/
h5{
  text-align: center;
  padding-top: 225px;
}
.tap{
  top: 50%;
  left: 50%;

}
span{
  font-size: 4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  animation: tap 4s linear infinite;
  color: white;
}
@keyframes tap{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 1;}
}
/*=============
Footer--just choose don't take too long!!
=============*/
.footer{
  
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: rgba(111, 111, 111, 0.786);
  
}
.inner-footer{
  display: block;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}
.inner-footer .logo-container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}
.inner-footer .logo-container img{
  width: 150px;
  height: auto;
}
.inner-footer .inny-footer{
  margin-right: 100px;
  float: left;
  height: 100%;
}

.inner-footer .inny-footer h1{
  font-family: arial;
  font-size: 22px;
  color:white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.inner-footer .inny-footer a{
  font-family: arial;
  font-size: 17px;
  font-weight: 200;
  color:white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

/*=============
Attempting Java Today!! I can do it! [No you can't!] D:
=============*/
.gallery{
  margin: 10px 20px;
  
}
.gallery img{
  width: 230px;
  padding: 5px 5px;
  height: 5%;
  transition: 1s;
  filter: grayscale(100%);
  border-radius: 5%;
}
.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1);
}
h2{
  margin: 30px 0 50px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  font-size: 3.5em;
  text-align: center;
}
/*=============
Gallery 6hr total
=============*/


/*=============
Logo
=============*/

/*=============
logo
=============*/


/*=============
MENU--Remeember to delete things u dont need!!--9hrs?? many days when it shouldnt been 
=============*/
.title{
  text-transform: capitalize;
  color: white;
  margin: 30px 0;
  font-size: 3em;
}

.menu-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu{
  flex: 1 1 250px;
  margin: 2px;
  text-align: center;
  padding: 5px 5px;
  cursor: pointer;
  max-width: 250px;
  transition: all .5s;
  
}
.menu img{
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  margin: 0 auto;
  object-fit: cover;
}
.menu img:hover{
  box-shadow: 0 10px 10px rgb(25, 25, 25);
}
h4{
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  margin: 15px 0;
}

.menu p{
  color: white;
}

/*=============
About again delete anything you dont need!!
=============*/
.tittle{
  text-transform: capitalize;
  color: white;
  margin: 30px 0;
  font-size: 3em;
}

.team-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  max-width: 250px;
  transition: all .5s;
  
}
.member img{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}
.member img:hover{
  box-shadow: 0 10px 20px black;
}
h4{
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  margin: 15px 0;
}
h6{
  text-align: center;
  color: white;
}
.member p{
  color: white;
}
/*=============
Java Comments-- attempt failure
.questions{
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}
input{
  width: 270px;
  height: 20px;
  font-size: 1em;
  
}
=============*/

/*OTHER SCREENS!*/






/* Styles for tablet and larger screens */
@media screen and (min-width: 1046px) {
  .nav-links{
    visibility: visible;
  }
  .pages{
    visibility: hidden;
  }
  .top-nav{
    visibility: hidden;
  }
}

/* Styles for smaller mobile screens */
@media screen and (max-width: 1045px) {
  /* Add CSS styles for mobile layout */
  .nav-links{
    visibility: hidden;
  }
  .pages{
    visibility: visible;
  }
  .top-nav{
    visibility: visible;
  }
}



.top-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: transparent;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 10px;

}

.pages {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pages > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  float: right;
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .pages {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .pages li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .pages li {
    border: transparent;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .pages > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: transparent;
  }
  .pages > li:not(:last-child) {
    border-bottom: transparent;
  }
}